.benefits {
  @extend %list;
  display: flex;
  gap: 30px;

  &__item {
    flex-basis: calc(100% / 4);
  }

  &__box {
    display: flex;
    width: 100%;
    height: 120px;
    background: $section-bg-color;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__icon {
    align-items: center;
  }

  &__title {
    @include font(700, 14px, 1.4, 0.03, $title-text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
