.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bg-color;
}

.footer--logo {
  margin-bottom: 20px;
}

.footer__box {
  text-align: center;

  @include mq(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__contact-block {
  @include mq(tablet) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 85px;
  }

  @include mq(desktop) {
    padding: 0;
    justify-content: flex-start;
  }
}

.address-box {
  margin-bottom: 60px;

  @include mq(desktop) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.button--footer {
  display: inline-flex;
}

.address {
  &__list {
    @extend %list;
  }

  &.team__item {
    display: block;
  }

  &.team__item:not(last-child) {
    margin-bottom: 9px;
  }

  &__link {
    @extend %link;
    color: $address-item-color;
    font-style: normal;

    @include transition(color);
  }

  &__link--white {
    color: $primary-white-color;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}

.join {
  &__title {
    display: inline-block;
    @include font(700, null, 1.4, null, $primary-white-color);
    text-transform: uppercase;

    margin-bottom: 20px;
  }
}

.social__link--footer {
  background-color: $footer-social-bg-color;
}

.social--join {
  margin-bottom: 60px;

  @include mq(desktop) {
    margin-bottom: 0;
  }
}

.subscribe {
  @include mq(desktop) {
    display: flex;
  }
}

.footer-form {
  @include mq(desktop) {
    text-align: start;
  }

  &__label {
    margin-right: 12px;
  }
}

.footer-form__input {
  background-color: transparent;
  padding: 15px 16px;
  width: 100%;
  border: solid 1px $footer-input-border;
  border-radius: 4px;

  margin-bottom: 20px;

  @include mq(tablet) {
    display: block;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desktop) {
    width: 358px;
    margin-bottom: 0;
  }
  @include font(null, 16px, 1.25, null, $primary-white-color);

  @include transition(border-color);

  &::placeholder {
    @include font(null, 16px, 1.25, null, $address-item-color);
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: $accent-color;
  }
}

.submit-icon {
  margin-left: 10px;
}
