.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(to right, $bacground-gradient-color, $bacground-gradient-color),
    url('../images/bg-img/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    @include font(900, 44px, 1.36, 0.06em, $primary-white-color);
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    display: block;
  }
}
