// Задній фон модального вікна
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;

  opacity: 1;
  @include transition(opacity);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(-180deg);
}

// Модальне вікно
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 1000;

  max-width: 530px;
  max-height: 580px;

  background-color: $primary-white-color;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) rotate(0deg);
  @include transition(transform);
}

// Кнопка закривання модального вікна
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  background-color: $primary-white-color;
  border: 1px solid $modal-close-border;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &__icon {
    @include transition(fill);
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $accent-color;
  }
}

// Форма
.form {
  width: 100%;
  height: 100%;
  padding: 40px;

  &__field {
    margin-bottom: 20px;
  }

  &__title {
    display: block;
    @include font(700, 20px, 1.15, 0.03em, $title-text-color);

    text-align: center;
    margin-bottom: 12px;
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &__title {
    @include font(400, 12px, 1.17, 0.01em, $primary-text-color);

    margin-bottom: 4px;
  }

  &__input {
    padding-top: 11px;
    padding-right: 12px;
    padding-bottom: 11px;
    padding-left: 32px;

    border: 1px solid $input-border-color;
    border-radius: 4px;

    @include transition(outline border-color);
  }

  &__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    pointer-events: none;

    //transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include transition(fill);
  }

  &__input:hover,
  &__input:focus {
    outline: none;
    border-color: $accent-color;
  }

  &__input:focus + &__icon {
    fill: $accent-color;
  }

  &__comment {
    height: 120px;
    padding: 12px 16px;
    resize: none;

    border: 1px solid $input-border-color;
    border-radius: 4px;

    @include transition(border-colol);
  }

  &__comment:hover,
  &__comment:focus {
    outline: none;
    border-color: $accent-color;
  }

  &__comment::placeholder {
    line-height: 16px;
    letter-spacing: 1.17;
    color: $placeholder-text-color;
  }
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &__description {
    color: $primary-text-color;
  }

  &__link {
    @extend %link;
    color: $accent-color;
  }
}

.button--agreement {
  margin: 0 auto;
}

.agreement__input:hover + .custom-check > .custom-check__img,
.agreement__input:focus + .custom-check > .custom-check__img {
  border: solid 2px $accent-color;
}

.custom-check {
  width: 16px;
  height: 15px;
  background-size: cover;
  margin-right: 8px;
  cursor: pointer;

  &__img {
    fill: $primary-white-color;
    border: solid 2px $primary-text-color;
    border-radius: 2px;

    @include transition(fill border);
  }
}

.agreement__input:checked + .custom-check > .custom-check__img {
  fill: $accent-color;
  border: none;
}
