// Фільтр

.filter {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;

  &__item {
  }

  &__button {
    background-color: $section-bg-color;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    @include font(500, 16px, 1.63, 0.03em, $title-text-color);

    @include transition(color background-color box-shadow);
  }

  &__button:hover,
  &__button:focus {
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// Сітка карток
.product {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  &__item {
    display: block;
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }

  &__link {
    @extend %link;

    display: block;
    width: 100%;
    height: 100%;

    @include transition(box-shadow);
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__img {
    display: block;
  }

  &__overlay {
    display: flex;
    position: absolute;

    width: 100%;
    height: 100%;
    padding: 0 24px;

    background-color: $card-overlay-color;

    transform: translateY(0);
    @include transition(transform);
  }

  &__link:hover &__overlay,
  &__link:focus &__overlay {
    transform: translateY(-100%);
  }

  &__text {
    @include font(400, 18px, 1.55, 0.03em, $primary-white-color);
  }

  &__border {
    width: 100%;
    padding: 20px 24px;
    border-right: solid 1px $item-border-color;
    border-bottom: solid 1px $item-border-color;
    border-left: solid 1px $item-border-color;
  }

  &__title {
    @include font(700, 18px, 2, 0.06em, $title-text-color);
  }

  &__description {
    @include font(400, 16px, 1.9, 0.03em, $primary-text-color);
  }
}
