.section--other-background {
  background-color: $section-bg-color;
}

.team {
  @extend %list;
  display: flex;
  gap: 30px;

  &__item {
    flex-basis: calc(100% / 4);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__description {
    padding-top: 30px;
    padding-bottom: 30px;
    background: $primary-white-color;
  }

  &__title {
    @include font(500, 16px, 1.2, 0.03em, $title-text-color);

    text-align: center;
    margin-bottom: 10px;
  }

  &__text {
    @include font(default, 16px, 1.2);
    text-align: center;
    margin-bottom: 16px;
  }
}

.social {
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background-color: $primary-white-color;
  border-radius: 50%;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: $primary-white-color;
  }
}

.social__icon {
  fill: $icons-color;

  @include transition(fill);
}
