.section--no-padding-top {
  padding-top: 0;
}

.work {
  @extend %list;
  display: flex;
  gap: 30px;

  &__item {
    flex-basis: calc(100% / 3);
  }

  &__thumb {
    position: relative;
  }

  &__description {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;

    background-color: $img-overlay;

    @include font(700, 14px, 1.4, 0.03, $primary-white-color);
    text-transform: uppercase;

    position: absolute;
    bottom: 0;
    left: 0;

    pointer-events: none;
  }
}
