.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  @include font(700, 24px, 1.2, null, $accent-color);
  text-decoration: none;

  @include mq(desktop) {
    font-size: 26px;
  }
}

.logo__dark {
  color: $primary-black-color;
}

.logo__light {
  color: $primary-white-color;
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 25px;

  @include mq(tablet) {
    margin-right: 88px;
  }

  @include mq(desktop) {
    margin-right: 95px;
  }
}
